# Module 3 - Data Manipulation

In [1]:
import pandas as pd
import numpy as np

### Delete Duplicate Data

In [2]:
#create duplicate data
names = ['Jessica','John','Bob','Jessica','Mary','John','Mel','Mel']
grades = [95,78,76,95,77,78,99,100]
GradeList = list(zip(names,grades))
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

     Names  Grades
0  Jessica      95
1     John      78
2      Bob      76
3  Jessica      95
4     Mary      77
5     John      78
6      Mel      99
7      Mel     100

In [3]:
dupe = df.duplicated() #creates list of True/False values
df[dupe] #shows rows where duplicated is True

     Names  Grades
3  Jessica      95
5     John      78

In [ ]:
#drops duplicate rows, default is to keep first observation
nodupedf = df.drop_duplicates()
nodupedf.count()

In [ ]:
#keep last observation
df.drop_duplicates(['Names'], keep='last')

### Select Rows by a Condition

In [ ]:
#create fake data

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]

GradeList = list(zip(names,grades))

df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])
df

In [ ]:
#find rows equal to 101
df.loc[df['Grades'] == 101]

In [ ]:
#finds rows where the grade is less than or equal to 100
df.loc[df['Grades'] <= 100]

In [ ]:
#multiple conditions
df.loc[(df['Grades'] >= 60) & (df['Grades'] < 100)] #between 60 and 100

In [ ]:
#replacing values with new value
df.loc[df['Grades'] <= 77, 'Grades'] = 100
df

### Missing Data

In [ ]:
df = pd.read_csv("datasets/gradedatamissing.csv")
df.head()

In [ ]:
#Selecting rows with no missing age or gender
df[df['age'].notnull() & df['gender'].notnull()]

In [ ]:
#drop rows with any missing data
df_no_missing = df.dropna()
df_no_missing.head()

In [ ]:
#replace empty cells with 0
df.fillna(0)

In [ ]:
#replace empty cells with average of column
df["grade"].fillna(df["grade"].mean(), inplace=True)

### Binning Data

In [ ]:
filepath = "datasets/gradedata.csv"
df = pd.read_csv(filepath)

df.head()

In [ ]:
df['grade'].dtypes

In [ ]:
#Define bins as 0-59, 60-69, 70-79, 80-89, 90-100
bins = [0, 60, 70, 80, 90, 100]

# Create names for the five groups
group_names = ['F', 'D', 'C', 'B', 'A']

#make new column with letter grades
df['lettergrade'] = pd.cut(df['grade'], bins, labels=group_names)
df.head()

In [ ]:
pd.value_counts(df['lettergrade']) # number of observations per letter grade

In [ ]:
df.groupby('lettergrade')['hours'].mean() #mean of hours studied per letter grade

In [ ]:
#apply functions to data
df['grade'] = df['grade'].apply(lambda x: int(x)) #turns float type grades to int type
df.head()

### Add and Remove Columns

In [ ]:
#SETUP: Make dataframe from lists

#make lists of data
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegress = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

#zip lists together
GradeList = list(zip(names,grades,bsdegress,msdegrees,phddegrees))

#make dataframe from zipped lists
df = pd.DataFrame(data = GradeList, columns=['Names','Grades','BS','MS','PhD'])
df

In [ ]:
#make a new column with each value = 0
df['HighSchool']=0

#make new column with all NaN values
df['Preschool'] = np.nan

#manually add data for new column
d = ([0,1,0,1,0])
s = pd.Series(d, index= df.index)
df['DriversLicense'] = s

df

In [ ]:
#drop a column
df.drop('PhD', axis=1)

In [ ]:
#drop completely empty columns (all NaN/null values)
#default is how=any (if any of the values are null, drop the column)
df.dropna(axis=1, how='all')

#### Make new columns

In [ ]:
#using functions
filepath = "datasets/gradedata.csv"
df = pd.read_csv(filename)

def singlename(fn, ln):
    return fn + " " + ln

df['fullname'] = singlename(df['fname'], df['lname'])
df.head()

In [ ]:
#create column based on binary conditional
df['isFailing'] = np.where(df['grade']<70, 'yes', 'no')
df.tail()

In [ ]:
#make numeric value column based on string value column

#create a function that will return 1 if female and 0 if male
def str_to_num(x):
    if x=='female':
        return 1
    if x=='male':
        return 0
    
df['gender_val'] = df['gender'].apply(str_to_num)
df.tail()

### Sort Values

In [ ]:
#still using gradedata.csv
#df.head() if need to see first five rows

df.sort_values('hours') #default is ascending=True
#does not change structure of "df" variable name

### Calculate and Remove Outliers

In [ ]:
#still using gradedata.csv
#check df.head() if needed

#Standard Deviation Method

meangrade = df['grade'].mean()
stdgrade = df['grade'].std()
toprange = meangrade + stdgrade * 1.96
botrange = meangrade - stdgrade * 1.96

newdf = df.copy() #to not mess up the original df
newdf = newdf.drop(newdf[newdf['grade'] > toprange].index)
newdf = newdf.drop(newdf[newdf['grade'] < botrange].index)

newdf.head()

In [ ]:
#Interquartile Range Method

q1 = df['grade'].quantile(.25)
q3 = df['grade'].quantile(.75)
iqr = q3-q1
toprange = q3 + iqr * 1.5
botrange = q1 - iqr * 1.5

newdf = df.copy()
newdf = newdf.drop(newdf[newdf['grade'] > toprange].index)
newdf = newdf.drop(newdf[newdf['grade'] < botrange].index)

newdf.head()