# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [ ]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.